<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PatientList</servlet-name>
        <servlet-class>PatientList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>result_update</servlet-name>
        <servlet-class>result_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>result_verify</servlet-name>
        <servlet-class>result_verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>covid_tested</servlet-name>
        <servlet-class>covid_tested</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Last_page</servlet-name>
        <servlet-class>Last_page</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientList</servlet-name>
        <url-pattern>/PatientList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SavePatient</servlet-name>
        <servlet-class>SavePatient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SavePatient</servlet-name>
        <url-pattern>/SavePatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>result_update</servlet-name>
        <url-pattern>/result_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>result_verify</servlet-name>
        <url-pattern>/result_verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>covid_tested</servlet-name>
        <url-pattern>/covid_tested</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Last_page</servlet-name>
        <url-pattern>/Last_page</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
